html,
body {
  font-family: "Poppins", sans-serif;
}

/* Bubble Chat For Landing Page */
.Bubblechatt {
  position: relative;
  height: 50px;
  width: 73px;
  margin-left: 5px;
  font-size: 35px;
  background: #ffffff;
  color: #3b82f6;
  text-align: center;
  border-radius: 2px;
}

.Bubblechatt:before {
  content: "";
  position: absolute;
  left: 28px;
  bottom: -14px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ffffff;
  border-bottom: 7px solid transparent;
}