
 .main-bg-color  {
	  background-color: #ffffff; 
}

 .btn-corners  {
	  border-radius: 99px; 
}

 .btn-bg-color  {
	  background-color: #515ad6; 
}

 .btn-txt-color  {
	  color: #ffffff; 
}

 .font-family  {
	  font-family: poppins, sans-serif; 
}

 .font-color  {
	  color: #262626; 
}
