* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.sensive-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.466);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  padding: 0px 10px;
}
.sensive-content h2 {
  margin-top: 8px;
  font-size: 25px;
  font-weight: 500;
}
.sensive-content p {
  font-size: 18px;
  font-weight: 400;
  color: #e7e7e7;
}
.sensive-content button {
  margin: 18px 0px;
  border: 1.5px solid #979797;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  cursor: pointer;
}
.sensive-content button:is(:hover, :focus) {
  background-color: #41414136;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px 20px;
}
.profile-img,.default-avatar {
  width: 105px;
  height: 105px;
  border-radius: 100px;
  margin-bottom: 13px;
}
.default-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.default-avatar span{
  font-size: 40px;
}
@media only screen and (max-width: 500px) {
  .profile-img,.default-avatar {
    width: 90px;
    height: 90px;
  }
}
.profile-title {
  font-size: 22px;
  text-align: center;
}
.profile-bio {
  font-size: 16px;
  text-align: center;
  margin-top: 6px;
}
.header-block {
  font-size: 17px;
  color: #2f2f31;
  margin-top: 10px;
  font-weight: 500;
}
.header-block:is(:last-child) {
  margin-top: 10px;
}
.blocks-container {
  width: 100%;
  max-width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}
.link-block {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
  padding: 12px 0px;
  border-radius: 8px;
  text-decoration: none;
}
.link-block:hover,
.link-block:focus {
  opacity: 0.9;
  transition: opacity ease-in-out 1.5ms;
}

.card-block {
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0px;
}
.card-block .card-desc {
  margin-top: 4px;
  font-size: 15px;
}

.spotify-block {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
  text-decoration: none;
  cursor: pointer;
}
.spotify-block-active {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 0px 0px 8px 8px;
}
.spotify-name {
  position: relative;
  padding: 12px 0px;
  border-radius: 8px;
}
.spotify-name i {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  cursor: pointer;
  padding: 2px;
}
.spotify-song {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.spotify-song div {
  padding: 15px 20px;
}
.spotify-song iframe {
  width: 100%;
  max-height: 80px;
}

.icons-container {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 18px;
  font-size: 36px;
}
.icons-container a:is(:hover, :focus) {
  outline: none;
  transition: transform ease-in-out 100ms;
  transform: scale(1.09);
}
.icons-container a i {
  opacity: 0.88;
}
